*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/
.externalNativeBuild
cmake-build-debug/
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
modules.xml
.idea/misc.xml
*.ipr
/target/
/samples/rust/target/
Cargo.lock
**/*.rs.bk
.gradle
**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

.cargo
**/maven-repo/