name: CI

# Controls when the action will run. Triggers the workflow on push or pull
# request events, but only for the `master` branch (generally) or the `citest`
# branch (for testing).
on:
  push:
    branches: [main, citest]
  pull_request:
    branches: [main]

jobs:
  generate_versions:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE for the job.
      - uses: actions/checkout@v4

      - name: Gradle test
        run: |
          ./gradlew -p plugin generateTestTasksJson

      - id: setup-matrix
        run: echo "matrix=$(cat plugin/build/build-resources/androidTestTasks.json)" >> "$GITHUB_OUTPUT"

      - name: debug
        run: echo ${{ steps.setup-matrix.outputs.matrix }}

    outputs:
      matrix: ${{ steps.setup-matrix.outputs.matrix }}

  samples:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE for the job.
      - uses: actions/checkout@v4

      - name: Setup Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-linux-android,x86_64-unknown-linux-gnu,aarch64-linux-android

      - name: Setup Rust 1.67
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.67
          targets: x86_64-linux-android,x86_64-unknown-linux-gnu,aarch64-linux-android

      - name: Setup NDK
        env:
          SDKMANAGER: /cmdline-tools/latest/bin/sdkmanager
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            SDKMANAGER=$(echo "$SDKMANAGER" | tr '/' '\').bat
          fi
          "${ANDROID_HOME}${SDKMANAGER}" --install 'ndk;21.4.7075529' 'ndk;23.1.7779620'
        shell: bash

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Assemble samples/app
        run: |
          ./gradlew -p samples/app :assembleDebug --info --warning-mode all

      - name: Assemble samples/library
        run: |
          ./gradlew -p samples/library :assembleDebug --info --warning-mode all

      # Work around https://github.com/actions/cache/issues/454.
      - name: Gradle stop
        run: |
          ./gradlew --stop

  android_unversioned_tests:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE for the job.
      - uses: actions/checkout@v4

      - name: Setup Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-linux-android,x86_64-unknown-linux-gnu,aarch64-linux-android

      - name: Setup Rust 1.67
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.67
          targets: x86_64-linux-android,x86_64-unknown-linux-gnu,aarch64-linux-android

      - name: Setup NDK
        env:
          SDKMANAGER: /cmdline-tools/latest/bin/sdkmanager
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            SDKMANAGER=$(echo "$SDKMANAGER" | tr '/' '\').bat
          fi
          "${ANDROID_HOME}${SDKMANAGER}" --install 'ndk;21.4.7075529' 'ndk;23.1.7779620'
        shell: bash

      # Use Java 8
      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 8
          cache: 'gradle'

      - name: Gradle setup
        run: |
          ./gradlew -p plugin tasks --warning-mode all

      - name: Gradle test
        run: |
          ./gradlew -p plugin test --info --warning-mode all

      # Work around https://github.com/actions/cache/issues/454.
      - name: Gradle stop
        run: |
          ./gradlew --stop

  android_version_tests:
    needs: [generate_versions] # , sanity_check]

    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        androidTestTask: ${{ fromJson(needs.generate_versions.outputs.matrix) }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Setup NDK
        env:
          SDKMANAGER: /cmdline-tools/latest/bin/sdkmanager
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            SDKMANAGER=$(echo "$SDKMANAGER" | tr '/' '\').bat
          fi
          "${ANDROID_HOME}${SDKMANAGER}" --install 'ndk;21.4.7075529' 'ndk;23.1.7779620'
        shell: bash

      - name: Setup Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-linux-android,x86_64-unknown-linux-gnu,aarch64-linux-android

      - name: Setup Rust 1.67
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.67
          targets: x86_64-linux-android,x86_64-unknown-linux-gnu,aarch64-linux-android

      # Use Java 8 globally and Java 11/17 for tests
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: |
            11
            17
            8
          cache: 'gradle'

      - name: Gradle setup
        run: |
          ./gradlew -p plugin tasks --warning-mode all

      - name: Gradle test
        run: |
          ./gradlew -p plugin ${{ matrix.androidTestTask }} --info --warning-mode all

      # Work around https://github.com/actions/cache/issues/454.
      - name: Gradle stop
        run: |
          ./gradlew --stop
